# This repo uses Python 3.10
lightning==2.2
lightning-utilities==0.11
matplotlib==3.8
numpy==1.26
pandas==2.2
pytorch-lightning==2.2
PyYAML==6.0
SciencePlots==2.1
scikit-learn==1.4
scipy==1.13
statsmodels==0.14
torch==2.3
tqdm==4.66
xgboost==2.0